@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!--Injection d'une vue partielle-->
<div id="fichePartielle">

</div>

@section Scripts{
    <script>
        $("#fichePartielle").load("/home/FichesPartielles")
    </script>
}